////////////////////////////////////////////////////////////////

//navigation
.nav-container {
  margin: 0px;
}

.logo {
  height: 160px;
  width: 190px;
}

.button {
  background: white;
  color: #75151a;
  border: 1px solid #75151a;
  border-radius: 0px;
}
.button:hover {
  background: #75151a;
  color: white;
  border: 1px solid #75151a;
  border-radius: 0px;
}

.nav-item {
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  color: #75151a;
  background: white;
  border: white;
  font-size: 0.9em;
}
.nav-item:hover {
  color: black;
  background: white;
  border: white;
}
